[Unit]
Description=Sync code from Github for Watson
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /home/ec2-user/watson_journal_bot/infra/github_syncer.sh
User=ec2-user
Group=ec2-user

[Install]
WantedBy=multi-user.target
